/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.color-orange {
    color: #fd6e0a;
}
.btn-orange {
    background-color: #FD6E0A;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
}
.btn-white:hover, .btn-orange:hover {
    cursor: pointer;
}
.btn-white {
    color: #FD6E0A;
    background-color: #FFF8F3;
    padding: 19px 24px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}
.banner-content div {
    display: flex;
    gap: 30px;
}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.text-center {
    margin-top: 50px;
    text-align: center;
}

.section-heading h2, .social h2, .form h2 {
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}


/* content */
/* header */
.logo {
    font-size: 45px;
    font-weight: 900;
}
header {
    background-color: #FFF8F3;  /* its now over-write */
    padding-top: 50px;
    background: url("images/developer.png"), url("images/header_bg.png"), #FFF8F3;
    /* background-position: top left, bottom right; */
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}
.menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner {
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content {
    max-width: 585px;
    /* height: 356px; */
}
.banner-content h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-content h1 {
    color: #181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-content p, .section-heading p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-image img {
    max-width: 584px;
    vertical-align: middle;
}


#about, #skills, #resume {
    padding-top: 130px;
}
.about-container {
    background-color: #FFF8F3;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}
.about-info {
    display: flex;
    justify-content: space-between;
}
.info-card p {
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.info-card h4 {
    color: #474747;
    font-size: 20px;
}


.skills-container {    
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-box {
    display: flex;
    gap: 24px;
    padding-top: 34px;
}
.skill-card {
    max-width: 267px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.08);
}
.skill-card img {
    margin-bottom: 30px;
}
.skill-card h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.skill-card p {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}


.resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.card-title {
    font-size: 25px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-info {
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}
.card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-card-hr {
    margin: 30px 0;
}
.resume-card {
    max-width: 511px;
    margin-right: 71px;
}


footer {
    margin-top: 130px;
    padding: 130px 0;
    background-color: #FFF8F3;
}
.footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}
.social {
    width: 562px;
}
.social p {
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.icons a {
    margin-right: 24px;
}

.input-box input {
    width: 461px;
    height: 64px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
.input-box textarea {
    width: 461px;
    height: 180px;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
}
.input-box input::placeholder, .input-box textarea::placeholder {
    padding: 18px 31px;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}